* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}


body {
    
    font-weight: 700;
    background: url('https://cdn.vectorstock.com/i/500p/19/55/dark-textured-background-vector-48911955.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.my-finance {
    font-family: "Dancing Script";
    font-size: 55px;
    font-style: italic;
    color: #00ff59;
    border-color: #000;
    border: 2px;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 30px 40px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   backdrop-filter: blur(50px);
}

    .container h1 {
        font-size: 36px;
        text-align: center;
    }

    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 40px;
        outline-color: rgb(255, 255, 255);
        font-size: 18px;
        color: rgb(255, 255, 255);
        padding: 20px 45px 20px 20px;
    }

    .input-box input ::placeholder {
        color: gray;
    }

    .input-box i {
        position: absolute;
        right: 20px;
        font-size: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .lembre-senha {
        display: flex;
        justify-content: space-between;
        margin: -15px 0 15px;

    }

    .lembre-senha label input {
        accent-color: white;
        margin-right: 5px;
    }

    .lembre-senha a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .lembre-senha a:hover {
        text-decoration: underline;
    }

    .link-registro a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .link-registro a:hover {
        text-decoration: underline;
    }

    .login {
        width: 100%;
        border-radius: 40px;
        font-size: 21px;
        font-family: 'Poppins';
        background-color: #21c75b;
        border: none;
        cursor: pointer;
        color: #ffffff;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 20px;
    }

    .login:hover {
        background-color: transparent;
        color: #21c75b;
        border: 2px solid rgba(0, 0, 0, 0.5);
        transition: 0.1s;
    }

    .link-registro {
        font-size: 14px;
        text-align: center;
        margin: 20px 0 15px;
    }

    .link-registro a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 800;

    }

    .link-registro a:hover {
        text-decoration: underline;
    }
    

    /* TODO o código fonte ACIMA é apenas o VISUAL da tela de Login. */
